<div class="page-header">
  <h1>{{topic.name}}</h1>
</div>

<h4>
  {{topic.description}}
</h4>

<h4><strong>{{messageCount}} viestiä<strong></h4>

<ul class="media-list" >
  <li class="media" ng-repeat="message in topic.Messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{message.title}}</a>
      </h4>

      <p>
        {{message.content}}
      </p>

      <p class="text-muted">
        {{message.User.username}}, {{message.createdAt}}
      </p>
    </div>
  </li>
</ul>

<div ng-if='userLoggedIn'>
  <h3>Lisää oma viestisi</h3>
  <form>
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" ng-model="newMessage.title">
    </div>
    <div class="form-group">
      <label>Viesti</label>
      <textarea class="form-control" ng-model="newMessage.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addMessage(newMessage, topic.id)">Lisää viesti</button>
  </form>
</div>

