<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2>{{replyCount}} vastausta</h3>

<ul class="media-list">
  <li class="media" ng-repeat="reply in message.Replies">
    <div class="media-body">
      <h4 class="media-heading">{{reply.User.username}}</h4>
      <p>
        {{reply.content}}
      </p>
      <p class="text-muted">
        {{reply.createdAt}}
      </p>
    </div>
  </li>
</ul>

<div ng-if='userLoggedIn'>
  <h2>Lisää oma vastauksesi</h2>
  <form>
    <div class="form-group">
      <label>Vastaus</label>
      <textarea class="form-control" ng-model="newReply.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addReply(newReply, message.id)">Lisää vastaus</button>
  </form>
</div>